{% extends 'base.html' %}
{% block head %} 
<title>Task Manager</title>
{% endblock %}

{% block body %} 
<div class="content">
    <h1 style="text-align: center;">Task master</h1>
    {% if tasks|length < 1 %}
    <h4 style="text-align: center;">There are no tasks. Create one below!</h4>
    {% else %}
    <table>
        <tr>
            <th>Task</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{task.content}}</td>
                <td>{{task.date_created.date()}}</td>
                <td>
                    <a href="/update/{{task.id}}" style="background-color: green; padding: 2px 6px 2px 6px; border-radius: 8px;" >Update</a>
                    <a href="/delete/{{task.id}}" style="background-color: grey; padding: 2px 9px 2px 9px; border-radius: 8px;">Delete</a>
                </td>
            </tr>
            {% endfor %}
    </table>
    {% endif %}


    <form action="/" method="post">
        <input type="text" name="content" id="content" ">
        <input type="submit" value="Add task">
    </form>
</div>
{% endblock %}